%fieldset
  %legend= @path
  %ul.directory
    %li
      %a{href: @back}= '..'
      - @directories.each do |path, dir|
        %li
          %a{href: path}= "/#{dir}" 
      - @files.each do |file|
        %li 
          %span= file
